@font-face {
  font-family: "Suisse Intl";
  src: url("./SuisseIntl-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("./SuisseIntl-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("./SuisseIntl-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("./SuisseIntl-Light.otf");
  font-weight: 300;
}
