.nuxt-icon svg {
  width: inherit !important;
  height: inherit !important;
  margin-bottom: 0;
}

.nuxt-icon.nuxt-icon--fill.nuxt-icon.nuxt-icon--fill,
.nuxt-icon.nuxt-icon--fill.nuxt-icon.nuxt-icon--fill * {
  fill: none !important;
}
