@import "./base/tailwind.scss", "./fonts/fonts.scss", "./base/utilities.scss",
  "./base/animations.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Suisse Intl", sans-serif;
}

body {
  @apply overflow-x-hidden  bg-white  text-black;
}
